
/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  /* background: linear-gradient(90deg, #4a00e0, #8e2de2); */
  background: linear-gradient(180deg,#7f238b,#4d3596);
}

.cateImage{
  background-image:url("./Images/WhatsApp\ Image\ 2024-12-07\ at\ 22.00.19_5a95b290.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.container{
	  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Trending Products */
.trending-products {
  background: transparent;
  color: #aaa;
  
  padding: 50px 20px;
  text-align: left;
}

.trending-products h2 {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 10px;
}

.carousel{
  padding: 5rem;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.product-item {
  background: transparent;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.product-item img {
  width: 100px;
  height: auto;
}

.product-item h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.product-item p {
  font-size: 0.9rem;
}


/* Background Image */


.another{
  background-image: url("./Images/WhatsApp\ Image\ 2024-12-07\ at\ 22.00.17_d80e733c.jpg");
  padding: 30px;

}






.product-carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-container {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: 0 60px;
}

.card {
  flex: 0 0 auto;
  width: 300px;
  margin: 0 10px;
}

.pre-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: gray;
  color: white;
  border: none;
  cursor: pointer;
}

.pre-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}




